@page
@model OlympicsWebApp.Pages.Disciplines.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center heading">Edit Discipline Details</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Discipline.Id" />
            <div class="form-group">
                <label asp-for="Discipline.DisciplineName" class="control-label"></label>
                <input asp-for="Discipline.DisciplineName" class="form-control" />
                <span asp-validation-for="Discipline.DisciplineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Discipline Details" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
